<div id="<%= dom_id san_pham %>">
  <p>
    <strong>Name:</strong>
    <%= san_pham.name %>
  </p>

  <p>
    <strong>Imgurl:</strong>
    <%= san_pham.imgUrl %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= san_pham.price %>
  </p>

</div>
