<div class="container-fluid row bg-primary">
  <div class="container">
    <nav class="navbar navbar-dark">  
      <a href="#" style="color:white; font-size:30px; font-weight:bold;">SHOPGAME</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">   
        <i class="fa-solid fa-magnifying-glass" style="color:white; font-size:20px;"></i> 
        <%# <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button> %>
      </form>
      <div class="container-inline">    
        <a href="#" style="color:white;"><i class="fa-solid fa-circle-user" style="font-size:30px; margin-right:10px;"></i><span>Đăng nhập</span></a>
      </div>
    </nav>
  </div>
</div>

<div class="container" style="margin-top: 20px;">
  <div id="san_phams">
    <div class="row">
      <% @san_phams.each do |san_pham| %>
        <div class="col-md-3" style=" padding: 5px">
          <div class="card" style="width: 17rem;">
            <img src="<%= san_pham.imgUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= san_pham.name %></h5>
              <p class="card-text"><%= san_pham.price %> đ</p>
              <%= link_to "Xem chi tiết", san_pham %>
            </div> 
          </div>        
        </div>
      <% end %>
    </div>
  </div>
</div>
